body{
    margin: 0;
    background-color:blanchedalmond;
}
nav {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
color: #fff;
padding: 2rem;

}
h2{
margin: 20%;
text-align: center;
}


.hamburger-menu {
cursor: pointer;
}

.hamburger-menu span {
display: block;
width: 20px;
height: 2px;
background-color: #fff;
margin-bottom: 5px;
}

.nav-links {
display: none;
position: absolute;
top: 65px;
right: 0;


background-color: #4e4c4c;
padding: 1rem;
border-radius: 5px;
}

.nav-links li {
margin-bottom: 10px;
padding: 0 10px;
list-style: none;

}

.nav-links li a {
color: #fff;
text-decoration: none;
}

.close-menu {
display: none;
position: absolute;
top: 75px;
right: 10px;
font-size: 24px;
cursor: pointer;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
.hamburger-menu {
display: block;
}
}